<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%X{NUM}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="MYAPPENDER" class="com.bocom.LaterDisposableAppender">
        <appender-ref ref ="STDOUT"/>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="MYAPPENDER" />
    </root>
</configuration>